<a href="https://colab.research.google.com/github/AfifNurraihan/Kumpulan-Proyek-Python/blob/main/Class_dan_Objek_dalam_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Class dan Objek dalam Python**

In [3]:
# Definisikan class Karyawan
class Karyawan:
    nama_perusahaan = 'PT. Infomedia Nusantara'

# Inisiasi object yang dinyatakan dalam variabel aksara dan senja
naufal = Karyawan()
maripal = Karyawan()

# Cetak nama perusahaan melalui penggunaan keyword __class__
# pada class attribute nama_perusahaan
print(naufal.__class__.nama_perusahaan)

# Ubah nama_perusahaan menjadi "PT. Nutrifood"
naufal.__class__.nama_perusahaan = 'PT. Nutrifood'

# Cetak nama_perusahaan objek aksara dan senja
print(naufal.__class__.nama_perusahaan)
print(maripal.__class__.nama_perusahaan)

PT. Infomedia Nusantara
PT. Nutrifood
PT. Nutrifood

In [6]:
# Definisikan class Karyawan
class Karyawan:
    nama_perusahaan = 'PT. Infomedia Nusantara'
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan

# Buat object bernama aksara dan senja
naufal = Karyawan('Naufal', 22, 8500000)
maripal = Karyawan('Maripal', 27, 12500000)

# Cetak objek bernama aksara
print(naufal.nama + ', Usia: ' + str(naufal.usia) + ', Pendapatan ' + str(naufal.pendapatan))

# Cetak objek bernama senja
print(maripal.nama + ', Usia: ' + str(maripal.usia) + ', Pendapatan ' + str(maripal.pendapatan))

Naufal, Usia: 22, Pendapatan 8500000
Maripal, Usia: 27, Pendapatan 12500000

In [8]:
class Karyawan: 
    nama_perusahaan = 'ABC'
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan
        if usia > 30:
            self.pendapatan += 1500000

karyawan_1 = Karyawan('Dyiyah', 33, 7500000)
karyawan_2 = Karyawan('Dinda', 25, 8000000)

total_pengeluaran = karyawan_1.pendapatan + karyawan_2.pendapatan 
print(total_pengeluaran)

17000000

In [9]:
class Karyawan:
    nama_perusahaan = 'PT. Infomedia Nusantara'
    tunjangan_transportasi = 500000
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan

karyawan_1 = Karyawan('Naufal', 35, 5000000)
karyawan_2 = Karyawan('Maripal', 30, 5000000)
karyawan_1.__class__.nama_perusahaan = 1000000

total_pengeluaran = karyawan_1.__class__.tunjangan_transportasi
total_pengeluaran += karyawan_2. __class__.tunjangan_transportasi
total_pengeluaran += karyawan_1.pendapatan
total_pengeluaran += karyawan_2.pendapatan
print(total_pengeluaran)

11000000

In [12]:
# Definisikan class Karyawan berikut dengan attribut dan fungsinya
class Karyawan:
    nama_perusahaan = 'PT. Infomedia Nusantara'
    insentif_lembur = 250000
    def __init__(self, nama, usia, pendapatan):
        self.nama = nama
        self.usia = usia
        self.pendapatan = pendapatan
        self.pendapatan_tambahan = 0
    def lembur(self):
        self.pendapatan_tambahan += self.insentif_lembur
    def tambahan_proyek(self, insentif_proyek):
    	self.pendapatan_tambahan += insentif_proyek
    def total_pendapatan(self):
    	return self.pendapatan + self.pendapatan_tambahan

# Buat object dari karwayan bernama Naufal dan Maripal
naufal = Karyawan('Naufal', 25, 8500000)
maripal = Karyawan('Maripal', 28, 12500000)

# Aksara melaksanakan lembur
naufal.lembur()

# Senja memiliki proyek tambahan
maripal.tambahan_proyek(2500000)

# Cetak pendapatan total Aksara dan Senja
print('Pendapatan Total Aksara: ' + str(naufal.total_pendapatan()))
print('Pendapatan Total Senja: ' +str(maripal.total_pendapatan()))

Pendapatan Total Aksara: 8750000
Pendapatan Total Senja: 15000000

In [13]:
# Definisikan class Karyawan
class Karyawan:
    def __init__(self, nama, usia, pendapatan, insentif_lembur): 
        self.nama = nama
        self.usia = usia 
        self.pendapatan = pendapatan 
        self.pendapatan_tambahan = 0
        self.insentif_lembur = insentif_lembur 
    def lembur(self):
        self.pendapatan_tambahan += self.insentif_lembur 
    def tambahan_proyek(self, jumlah_tambahan):
        self.pendapatan_tambahan += jumlah_tambahan 
    def total_pendapatan(self):
        return self.pendapatan + self.pendapatan_tambahan 
# Definisikan class Perusahaan
class Perusahaan:
    def __init__(self, nama, alamat, nomor_telepon): 
        self.nama = nama
        self.alamat = alamat 
        self.nomor_telepon = nomor_telepon
        self.list_karyawan = []
    def aktifkan_karyawan(self, karyawan): 
        self.list_karyawan.append(karyawan)
    def nonaktifkan_karyawan(self, nama_karyawan): 
        karyawan_nonaktif = None
        for karyawan in self.list_karyawan:
            if karyawan.nama == nama_karyawan: 
                karyawan_nonaktif = karyawan 
                break
        if karyawan_nonaktif is not None: 
            self.list_karyawan.remove(karyawan_nonaktif)

In [16]:
# Definisikan perusahaan
perusahaan = Perusahaan('PT. Infomedia Nusantara', 'Jl. Tegalrejo, Blok 10', '(021) 9520556')
# Definisikan nama-nama karyawan
karyawan_1 = Karyawan('Linda', 25, 8500000, 100000)
karyawan_2 = Karyawan('April', 28, 12000000, 150000)
karyawan_3 = Karyawan('Aulia', 30, 15000000, 200000)
# Aktifkan karyawan di perusahaan ABC
perusahaan.aktifkan_karyawan(karyawan_1)
perusahaan.aktifkan_karyawan(karyawan_2) 
perusahaan.aktifkan_karyawan(karyawan_3)